@import 'variables';
@import 'colors';
@import 'animation';

svg{
  transform: rotate(-90deg);

  circle {
    fill: none;
    stroke-width: $stroke-width;
  }
}

.underlay {
  stroke: $color-underlay;
}

.progress {
  color: $color-safe;
  stroke-width: $stroke-progress;
  transition: .2s stroke-width ease-in-out;
}

.tragedy {
  stroke-width: $stroke-thicc;
  animation: blink .4s ease-out;
}

.counter {
  color: #777;
  font-size: 0.8125em;
  position: absolute;
  bottom: 0.625em;
  right: 0.80em; }

textarea {
  color: #333;
  font-size: 0.9em;
  font-family: inherit;
  border: 2px solid #333;
  background: #fff;
  border-radius: 0.333em;
  outline: none;
  display: block;
  padding: 0.6em;
  max-width: 100%;
  width: 100%;
  height: 100px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  color: #777;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 100%;
  height: 100vh;
  margin: 0; }

form {
  position: relative;
  margin: 0px auto;
  width: 25em; }